SIGNALWIRE_PROJECT_KEY=a59e1bc6-73fe-4582-9be5-XXXXXXXXXXXXXXXXX
SIGNALWIRE_TOKEN=PT86dc6f6a6a7b21d5d8bd1dbb2fXXXXXXXXXXXXXXXXX
SIGNALWIRE_SPACE=XXXXXXXXXXXX.signalwire.com
DEFAULT_DESTINATION=/private/XXXXXXX
SIGNALWIRE_FABRIC_API_URL=https://puc.signalwire.com

# Firebase Params (https://firebase.google.com/docs/cloud-messaging)
FIREBASE_API_KEY=AIzaSyCYQHX0e-fXVH2F3upZ0jXXXXXXXXXXX-XXXX
FIREBASE_AUTH_DOMAIN=push-notificationXXXXXXXXXXXX.firebaseapp.com
FIREBASE_PROJECT_ID=push-notificationXXXXXXXXXXXXX
FIREBASE_STORAGE_BUCKET=push-notificationXXXXXXXXXXXXX.appspot.com
FIREBASE_MESSAGING_SENDER_ID=10811XXXXXXXXXX
FIREBASE_APP_ID=1:1081152988565:android:9ab1ce8cad0XXXXXXXXXXXX
FIREBASE_MEASUREMENT_ID=
FIREBASE_VAPID_KEY=BOK6mLj2rgT0mt7-T0oPExSShMNz_TVKGv345Lo2QGRUPecXXXXXXXXXXXXXXXXXXXXX

#OAUTH Settings
OAUTH_APPLICATION_ID=4d3l3zz52DUThutnR28N1gqZL5NX4TO1 // Not used at the moment
OAUTH_CLIENT_ID= <ENTER UID PROVIDED BY SW>
OAUTH_SECRET=<ENTER SECRET PROVIDED BY SW>
OAUTH_TOKEN_URI=https://id.fabric.signalwire.com/oauth/token
OAUTH_AUTH_URI=https://id.fabric.signalwire.com/login/oauth/authorize
OAUTH_REDIRECT_URI=http://localhost:3000/callback
SESSION_SECRET=<ENTER SECRET PROVIDED BY SW>
OAUTH_USERINFO_URI=https://fabric.signalwire.com/subscriber/info
SIGNALWIRE_FABRIC_API_URL=https://puc.signalwire.com

SAT_CH=puc.swire.io
